node_modules
.DS_Store
package-lock.json

# Backend

backend/node_modules
backend/build
backend/npm-debug.log
backend/.env
backend/.DS_Store
backend/seeders
backend/.env
backend/config/config.json
backend/assets/uploads/*.jpg
backend/generatedUsers.txt
# Frontend

# dependencies
frontend/node_modules

# logs
frontend/npm-debug.log

# Nuxt build
frontend/.nuxt

# Nuxt generate
frontend/dist
